<h1>Shows</h1>

<ul class="pagination">
    <li *ngFor="let count of countPages; index as i">
        <button (click)="getPaginatedDatas(i)">{{count}}</button>
    </li>
</ul>

<form [formGroup]="searchForm">
    <input formControlName="search"  placeholder="search show"/>
</form>

<!-- search -->
<ng-container *ngIf="searchForm.value.search; else elseBlock">
    <div class="row">
        <div class="col-3">
            <a (click)="goToShowDetail(searchList)">
                <div class="card">
                    <img [src]="searchList.image.medium" alt="{{ searchList.name }}" class="card-img-top">
                    <h5 class="card-title">
                        {{ searchList.name }}
                    </h5>
                </div>
            </a>
        </div>
    </div>
</ng-container> 

<ng-template #elseBlock>
    <!-- Pagination -->
    <ng-container *ngIf="selectedPaginatedShowList.length !== 0; else testBlock">
        <div class="row">
            <div *ngFor="let show of selectedPaginatedShowList" class="col-3">
                <a (click)="goToShowDetail(show)">
                    <div class="card">  
                        <img [src]="show.image.medium" alt="{{ show.name }}" class="card-img-top">
                        <h5 class="card-title">
                            {{ show.name }}
                        </h5>
                    </div>
                </a>
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #testBlock>
    <!-- by default -->
    <div class="row">
        <div *ngFor="let show of paginatedShowsList[0]" class="col-3">
            <a (click)="goToShowDetail(show)">
                <div class="card">  
                    <img [src]="show.image.medium" alt="{{ show.name }}" class="card-img-top">
                    <h5 class="card-title">
                        {{ show.name }}
                    </h5>
                </div>
            </a>
        </div>
    </div>
</ng-template>


  <!-- <div *ngFor="let show of showsList" class="col-3">
    <a (click)="goToShowDetail(show)">
        <div class="card">
            <img [src]="show.image.medium" alt="{{ show.name }}" class="card-img-top">
            <h5 class="card-title">
                {{ show.name }}
            </h5>
        </div>
    </a>
</div> -->
